body {
  margin: 0 auto;
  padding: 0;
}

h1 {
  text-align: center;
}

.container {
  position: relative;
  top: 60px;
  text-align: center;
  min-width: 600px;
  min-height: 400px;
}

.card {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 200px;
  font-family: Helvetica, sans-serif;
  color: rgb(32, 32, 32);
  border: 1px solid #CCC;
  border-radius: 10px;
  background: white;
  margin: 0 5px;
  padding-top: 5px;
}

.back {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 37%, rgba(9,9,121,1) 87%);
}


.suit, .picked {
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  width: 100%;
  margin: 0;
}

.suit {
  bottom: 25px;
}

.picked {
  bottom: 90px;
  opacity: 0.2;
}

footer h6 {
  padding-left: 25px;
  padding-top: 15px;
}

.card_container{
  width: 150px;
  height: 200px;
  position: relative;
  display: inline-block;
}